{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Create Meetup" %}{% endblock %}
{% block page_style %}
  <link href="{% static "css/datepicker.css" %}" rel="stylesheet">
{% endblock %}
{% block page_script %}
  {{ form.media }}
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
  <script type="text/javascript">
    $(function(){
      $(".datepicker").datepicker();
    });
  </script>
{% endblock %}

{% block body_class %}meetup{% endblock %}
{% block body %}

<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url meetup:meetup_index %}">
                {% trans "All Meetups" %}
            </a>
        </li>
        <li class="active">
            <a href="{% url meetup:meetup_create %}">
                {% trans "Create Meetup" %}
            </a>
        </li>
        <li>
            <a href="{% url meetup:meetup_mine %}">
                {% trans "My Meetups" %}
            </a>
        </li>
    </ul>
  </div>
  <div class="span8">
    <h1>{% trans "Create meetup" %}</h1>
    {% include "meetup/_meetup_form.html" %}
  </div>
  <div class="span2"></div>
</div>

{% endblock %}