{% extends "site_base.html" %}

{% load i18n %}
{% load comments %}
{% load account_tags %}

{% block body_class %}meetup{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span10">
        {% include "meetup/_attend_meetup.html" %}
        {% include "meetup/_meetup_info.html" %}
        {% include "meetup/_meetup_details.html" %}
    </div>
    <div class="span2">
        {% trans "Attenders: " %}
        {% include "meetup/_meetup_attenders.html" %}
    </div>
</div>
{% endblock %}
