{% extends "site_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% block body_class %}Meetup{% endblock %}
{% block body %}
<h1> Meetup </h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span7">
            {% if meetup_list %}
                <ul>
                {% for meetup in meetup_list %}
                    <a href="{{ meetup.get_absolute_url }}">{{ meetup.title }}</a>
                    <p>{{ meetup.content }}</p>
                {% endfor %}
                </ul>
                {% include "meetup/_meetup_paginate.html" %}
            {% else %}
                <p>{% trans "No Meetup Found!" %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}