{% extends "site_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% block body_class %}meetup{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span2">
        <p>
            <a class="btn btn-large btn-primary" href="{% url meetup:meetup_create %}">
                {% trans "Create Meetup" %}
            </a>
        </p>
    </div>
    <div class="span10">
        <h1>{% trans "My Meetups" %}</h1>
        {% include "meetup/_meetup_list.html" %}
    </div>
</div>
{% endblock%}