{% extends "site_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% block body_class %}{% trans "Friends" %}{% endblock %}
{% block body %}
<h1>{% trans "Friends" %}</h1>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span7">
            {% if friends_list %}
                <ul>
                {% for friend in friends_list %}
                    {% avatar friend.friend %}
                    <a href="{{ friend.friend.get_absolute_url }}">{{ friend.friend.username }}</a>
                {% endfor %}
                </ul>
            {% else %}
                <p><% trans "No Friend Yet!" %></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}