{% extends "base_layout.html" %}

{% block title %}
HOME - MYMD
{% endblock%}

{% block head %}
	{% include "module_header_includes.html" %}
	<script type="text/javascript">
	</script>
{% endblock %}


{% block body %}

	{% include "module_mini_nav.html" %}    

    <div id="mymd-body">    
		{% include 'module_top_message.html' %}
        <div id="mymd-home-streaming">
            <div>
                <div class="avatar">
                    <img src="{{STATIC_URL}}images/avatar.jpg" />
                </div>
                <div class="personalinfo">
                    <ul>
                        <li>Guanghao Ding</li>
                        <li>Amazon.com</li>
                    </ul>
                </div>
            </div>
            <div class="status-update">
                <textarea placeholder="Share an update"></textarea>
                <br/>
                <ul>
                    <li class="active">Status</li>
                    <li>Photo</li>
                    <li>Link</li>
                    <li>Video</li>
                </ul>
            </div>
			{% include 'module_stream.html' %}
        </div>
        <div class="vertical-hr"></div>
        {% include 'module_monitoring.html' %}
    </div>
		{% include 'module_footer.html' %}
{% endblock %}


