{% extends "theme_base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block extra_style %}
  <link href="{% static "css/mymd.css" %}" rel="stylesheet">
  {% block page_style %}{% endblock %}
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/mymd.js" %}"></script>
  {% block page_script %}{% endblock %}
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul class="nav">{% spaceless %}
            <li id="tab_diary"><a href="{% url diary_list user.username %}">{% trans "Personal Diaries" %}</a></li>
            <li id="tab_experience"><a href="{% url stream %}">{% trans "Experience Sharing" %}</a></li>
            <li id="tab_meetup"><a href="{% url meetup:mine_meetup %}">{% trans "Meetup" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
