# requirements.txt is a pip requirements file which describes the necessary
# distributions required to run this project.
# Put project-specific requirements here.
# See http://pip-installer.org/requirement-format.html for more information.

###### Python Libraries
pytz

Django==1.4.1
pinax-theme-bootstrap
django-email-confirmation==0.2
django-debug-toolbar==0.9.1
django-pagination==1.0.7
django-avatar==1.0.5
# PIL==1.1.7
South==0.7.4
django-activity-stream==0.4.3
django-authority==0.4
django-widget-tweaks
django-social-auth
django-tinymce

# Useing source for sessionAuth
git+https://github.com/toastdriven/django-tastypie.git

# I think it was for the translation or Django 1.4
git+https://github.com/fmaj7/django-notification

###### Django Haystack
git+https://github.com/toastdriven/django-haystack.git
# dependencies
requests==0.13.2
git+https://github.com/toastdriven/pyelasticsearch.git

#First pip uninstall PIL, and then run pip install
#http://stackoverflow.com/questions/9073455/ioerror-decoder-zip-not-available-using-matplotlib-png-in-reportlab-on-linux
pillow==1.7.7
django-formwizard==1.0

# Informal requirements, the apps we copied the source code
# TODO: fork django-friends and develop
# django-friends
