{% extends "base_layout.html" %}
{% load url from future %}

{% block title %} MyMD - Log In {% endblock %}

{% block head %}
	{% include "module_header_includes.html" %}
{% endblock %}

{% block body %}

	{% include "module_nav.html" %}
<div class="container">
	<div class="row">
		<div class="span5 offset4">
			<div class="page-header">
				<h2>Sign in</h2>
			</div>
			{% if form.errors %}
			<div class="alert alert-error">Your username and password
				didn't match. Please try again.</div>
			{% endif %}
			<form method="post" class="form-horizontal"
				action="{% url 'registration.views.login' %}">
				<fieldset>
					{% csrf_token %}
					<div class="control-group">
						<label class="control-label"> 
							{{ form.username.label_tag }} 
						</label>
						<div class="controls">
							{{ form.username }}
							<p class="help-block">Your username</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"> 
							{{ form.password.label_tag }} 
						</label>
						<div class="controls">
							{{ form.password }}
							<p class="help-block">Your password</p>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Login</button>
						<button type="" class="btn">Register</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% include "module_footer.html" %}
		
{% endblock body %}

