<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- Text Logo -->
      <a class="brand" href="#">MyMD</a>
      <!-- Navigation Menu -->
      <ul class="nav">
        <li class="active"><a href="#">
        <span class="meta">All about you</span><br />
        Profile
        </a></li>
        <li><a href="#">
        <span class="meta">Find your peer</span><br />
        Group
        </a></li>
        <li><a href="#">
        <span class="meta">Get in touch</span><br />
        Social
        </a></li>
        <li><a href="#">
        <span class="meta">Manage Your Desease</span><br/>
        Monitoring
        </a></li>
        <li><a href="#">
        <span class="meta">Homepage</span><br />
        Home
        </a></li>
      </ul>
    </div>
  </div>
</div>
