{% load verbatim_tag %}

<script id="activity-template" type="text/x-jsrender">
  {% verbatim %}
    <div class="activity">
      <div class="summary">
        <a href="{{>actor.url}}">{{>actor.name}}</a>
        &nbsp;{{>verb}}

        {{if action_object}}
          &nbsp;<a href="{{>action_object.url}}">{{>action_object.name}}</a>
        {{/if}}

        {{if target}}
          &nbsp;<a href="{{>target.url}}">{{>target.name}}</a>
        {{/if}}
      </div>
      <div class="details">
        {{:details}} <a href="{{>action_object.url}}"></a>
      </div>
      <div class="footer">
        <span class="timestamp">{{>timestamp}} </span>
      </div>
    </div>
  {% endverbatim%}
</script>