{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}
{% load account_tags %}
{% block head_title %}{% trans "Experience Sharing" context "Page Header Title" %}{% endblock %}
{% block body_class %}experience{% endblock %}

{% block body %}
<div id="stream-container" class="row-fluid">
	<div id="stream-filters" class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="{% url stream:stream %}">
              {% trans "All Experience" %}
          </a>
        </li>
        <li class="">
          <a href="{% url stream:stream_mine %}">
              {% trans "My Experience" %}
          </a>
        </li>
        <li>
          <a href="{% url experience_create %}">
            {% trans "Write Experience" %}
          </a>
        </li>
    </ul>
	</div>
	<div id="stream-activities" class="span10">
	</div>
</div>

{% include "stream/_activity_entry.tmpl" %}

<script>
  $(function () {
    mymd.stream.initStream('stream-activities', 'activity-template');
  });
</script>
{% endblock %}