{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block page_script %}
  <script src="{% static "js/jquery.jqplot.min.js" %}"></script>
  <script src="{% static "js/jqplot.dateAxisRenderer.min.js" %}"></script>
{% endblock %}

{% block head_title %}{% trans "Personal Diary" %}{% endblock %}
{% block body_class %}diary{% endblock %}
{% block body %}
<div id="diary-container" class="contain-fluid">
  <div id="diary-list-container" class="row-fluid">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="{% url diary_list user.username %}">
              {% trans "My Diaries" %}
          </a>
        </li>
        <li>
          <a href="{% url diary_create %}">
            {% trans "Write Diary" %}
          </a>
        </li>
      </ul>
    </div>


  <div id="content" class="span10 diary-list">
    <div id="diary-feel-container" class="hero-uint">
    </div>
    <div>
      {% if diary_list %}
      {% for diary in diary_list %}
      {% include "diary/_diary_info.html" %}
      {% endfor %}
      {% include "meetup/_meetup_paginate.html" %}
      {% else %}
      <p>{% trans "No Diary Found!" %}</p>
      {% endif %}
    </div>
  </div>
  </div>
</div>

<script>
  mymd.diary.initChart();

</script>
{% endblock%}
