{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% block body_class %}diary{% endblock %}
{% block body %}

<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="{% url diary_list user.username %}">
              {% trans "My Meetup" %}
          </a>
        </li>
        <li>
          <a href="{% url diary_create %}">
            {% trans "Write Diary" %}
          </a>
        </li>
    </ul>
  </div>
  <div class="span10">
    <h1>{% blocktrans %}{{ diary_author }}'s Diaries{% endblocktrans %}</h1>
    {% include "diary/_diary_info.html" %}
  </div>
</div>

{% endblock %}
