{% load verbatim_tag %}

{% verbatim %}

<script id="diary-template" type="text/x-jsrender">
	<div class="diary">
	  <div class="title">
	      <a>{{>title}}</a>
	  </div>
	  <div class="body">
	    {{:body}} <a href="{{>uri}}">... More</a>
	  </div>
	  <div class="footer">
	    <span class="timestamp">{{>modified_date}}</span>
	  </div>
	</div>
</script>

{% endverbatim%}