{% load verbatim_tag %}

<script id="diary-template" type="text/x-jsrender">
  {% verbatim %}
	<div class="diary">
	  <div class="title">
	      <a>{{>title}}</a>
	  </div>
	  <div class="body">
	    {{>body}} <a href="">... More</a>
	  </div>
	  <div class="footer">
	    <span class="timestamp">{{>date}}</span>
	  </div>
	</div>
  {% endverbatim%}
</script>