{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Personal Diary" %}{% endblock %}
{% block body_class %}diary{% endblock %}
{% block body %}

<div id="diary-list-container" class="row-fluid">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="{% url diary_list user.username %}">
              {% trans "My Diaries" %}
          </a>
        </li>
        <li>
          <a href="{% url diary_create %}">
            {% trans "Write Diary" %}
          </a>
        </li>
    </ul>
  </div>

  <div id="content" class="span10 diary-list">
    {% if diary_list %}
        {% for diary in diary_list %}
          {% include "diary/_diary_info.html" %}
        {% endfor %}
        {% include "meetup/_meetup_paginate.html" %}
    {% else %}
        <p>{% trans "No diary found!" %}</p>
    {% endif %}
	</div>
</div>

{% endblock%}
