{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block body_class %}diary{% endblock %}
{% block body %}
<div id="diary-list-container" class="row-fluid">
	<div class="span2">
		<p>
			<a class="btn btn-large btn-primary" href="{% url diary_create %}">
				{% trans "Write Diary" %}
			</a>
		</p>
	</div>

	<div id="content" class="span8">
		<h1>{% trans "Diaries" %}</h1>
	</div>

	<div class="span2"></div>
<div>

<script>
  (function () {
    mymd.diaries.listDiaries("content");
  })();
</script>
{% endblock%}
