{% extends "site_base.html" %}

{% load i18n %}
{% load comments %}
{% load account_tags %}

{% block body_class %}experience{% endblock %}
{% block body %}

<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="{% url stream:stream_list%}">
              {% trans "All Experience" %}
          </a>
        </li>
        <li>
          <a href="{% url stream:stream_mine %}">
              {% trans "My Experiences" %}
          </a>
        </li>
        <li>
          <a href="{% url experience_create %}">
            {% trans "Write Experience" %}
          </a>
        </li>
    </ul>
  </div>
  <div class="experience-detail span10">
    {% include "experiences/_experience_info.html" %}
    {% if is_author %}
        <a href="{% url experience_edit experience.pk %}">Edit</a> |
        <a href="{% url experience_delete experience.pk %}">Delete</a>
    {% endif %}
    {% render_comment_list for experience %}
    {% render_comment_form for experience %}
  </div>
</div>

{% endblock %}
