{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Create experience" %}{% endblock %}
{% block page_script %}
  {{ form.media }}
{% endblock %}
{% block body_class %}experience{% endblock %}
{% block body %}

<div class="row-fluid">
  <div class="span2">
    <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="{% url stream:stream_list%}">
              {% trans "All Experience" %}
          </a>
        </li>
        <li class="active">
          <a href="{% url stream:stream_mine %}">
              {% trans "My Experience" %}
          </a>
        </li>
        <li>
          <a href="{% url experience_create %}">
            {% trans "Write Experience" %}
          </a>
        </li>
    </ul>
  </div>
  <div class="span10">
    {% include "experiences/_experience_form.html" %}
  </div>
</div>

{% endblock %}
