/* Global Styles */
body {
	font-size: 12px;
	font-family: verdanna, 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
		Arial, san-serif;
	color: #000000;
}

.hr {
	border: none;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #d6d6d6;
	clear: both;
	height: 0;
	line-height: 0;
	width: 100%;
	font-size: 0;
	padding: 0;
	margin-bottom: 20px;
}

.vertical-hr {
	border: none;
	border-left: solid 1px #DB4A31;
	float: left;
	width: 1%;
	height: 700px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* Custom Grid */
.container_12 {
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
}

.float {
	display: inline;
	float: left;
	position: relative;
}

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12
	{
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.container_12 .grid_1 {
	width: 45px;
}

.container_12 .grid_2 {
	width: 130px;
}

.container_12 .grid_3 {
	width: 215px;
}

.container_12 .grid_4 {
	width: 300px;
}

.container_12 .grid_5 {
	width: 385px;
}

.container_12 .grid_6 {
	width: 470px;
}

.container_12 .grid_7 {
	width: 555px;
}

.container_12 .grid_8 {
	width: 640px;
}

.container_12 .grid_9 {
	width: 725px;
}

.container_12 .grid_10 {
	width: 810px;
}

.container_12 .grid_11 {
	width: 895px;
}

.container_12 .grid_12 {
	width: 980px;
}

/* cta buttons, copied from http://pixify.com/blog/increase-conversions-with-call-to-action-buttons/ */
.button {
    float: left;
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
    font: bold 18px Helvetica, Arial, sans-serif;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
	white-space: nowrap;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    z-index: 10;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#333333');
	-moz-user-select: none;
	-webkit-user-select:none;
	-khtml-user-select: none;
	user-select: none;
	overflow: visible;
	outline: none;
}
.button:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.button:hover {
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.button:active {
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.button-red, .button-green, .button-blue, .button-yellow {
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
	transition: border-color .218s;
}
.button-red {
    border: solid 1px #b8473d;
    background: #f36c4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#f36c4d), to(#ef3e29));
    background: -moz-linear-gradient(top, #f36c4d, #ef3e29);
    background: -ms-linear-gradient(top, #f36c4d, #ef3e29);
    background: -o-linear-gradient(top, #f36c4d, #ef3e29);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f36c4d', EndColorStr='#ef3e29')";
}
.button-red:before {
    border: solid 1px #f67b5f;
    border-color: rgba(255, 255, 255, 0.35);
}
.button-red:hover {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#fb856a), to(#f7523f));
    background: -moz-linear-gradient(top, #fb856a, #f7523f);
    background: -ms-linear-gradient(top, #fb856a, #f7523f);
    background: -o-linear-gradient(top, #fb856a, #f7523f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fb856a', EndColorStr='#f7523f')";
}
.button-red:active {
    color: #fff;
    border: solid 1px #90332b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef3e29), to(#f36c4d));
    background: -moz-linear-gradient(top, #ef3e29, #f36c4d);
    background: -ms-linear-gradient(top, #ef3e29, #f36c4d);
    background: -o-linear-gradient(top, #ef3e29, #f36c4d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ef3e29', EndColorStr='#f36c4d')";
}
.button-green {
    border: solid 1px #00922d;
    background: #00b638;
    background: -webkit-gradient(linear, left top, left bottom, from(#50de76), to(#00b638));
    background: -moz-linear-gradient(top, #50de76, #00b638);
    background: -ms-linear-gradient(top, #50de76, #00b638);
    background: -o-linear-gradient(top, #50de76, #00b638);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#50de76', EndColorStr='#00b638')";
}
.button-green:before {
    border: solid 1px #78e695;
    border-color: rgba(255, 255, 255, 0.35);
}
.button-green:hover {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#5cec82), to(#00c43c));
    background: -moz-linear-gradient(top, #5cec82, #00c43c);
    background: -ms-linear-gradient(top, #5cec82, #00c43c);
    background: -o-linear-gradient(top, #5cec82, #00c43c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5cec82', EndColorStr='#00c43c')";
}
.button-green:active {
    color: #fff;
    border: solid 1px #006e22;
    background: -webkit-gradient(linear, left top, left bottom, from(#00b638), to(#50de76));
    background: -moz-linear-gradient(top, #00b638, #50de76);
    background: -ms-linear-gradient(top, #00b638, #50de76);
    background: -o-linear-gradient(top, #00b638, #50de76);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00b638', EndColorStr='#50de76')";
}
.button-blue {
    border: solid 1px #0870c0;
    background: #007bda;
    background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#007bda));
    background: -moz-linear-gradient(top, #00c6ff, #007bda);
    background: -ms-linear-gradient(top, #00c6ff, #007bda);
    background: -o-linear-gradient(top, #00c6ff, #007bda);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#007bda');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#007bda')";
}
.button-blue:before {
    border: solid 1px #3bb4ec;
    border-color: rgba(255, 255, 255, 0.35);
}
.button-blue:hover {
    color: #fff;
    border: solid 1px #065491;
    background: -webkit-gradient(linear, left top, left bottom, from(#21cdff), to(#0387ec));
    background: -moz-linear-gradient(top, #21cdff, #0387ec);
    background: -ms-linear-gradient(top, #21cdff, #0387ec);
    background: -o-linear-gradient(top, #21cdff, #0387ec);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#21cdff', EndColorStr='#0387ec');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#21cdff', EndColorStr='#0387ec')";
}
.button-blue:active {
    color: #fff;
    border: solid 1px #065491;
    background: -webkit-gradient(linear, left top, left bottom, from(#007bda), to(#00c6ff));
    background: -moz-linear-gradient(top, #007bda, #00c6ff);
    background: -ms-linear-gradient(top, #007bda, #00c6ff);
    background: -o-linear-gradient(top, #007bda, #00c6ff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#007bda', EndColorStr='#00c6ff');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#007bda', EndColorStr='#00c6ff')";
}
.button-yellow {
    border: solid 1px #db8300;
    background: #ff9900;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9900));
    background: -moz-linear-gradient(top, #ffcc00, #ff9900);
    background: -ms-linear-gradient(top, #ffcc00, #ff9900);
    background: -o-linear-gradient(top, #ffcc00, #ff9900);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#ff9900');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#ff9900')";
}
.button-yellow:before {
    border: solid 1px #ffc63b;
    border-color: rgba(255, 255, 255, 0.35);
}
.button-yellow:hover {
    color: #fff;
    border: solid 1px #ad6800;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd322), to(#ffa51f));
    background: -moz-linear-gradient(top, #ffd322, #ffa51f);
    background: -ms-linear-gradient(top, #ffd322, #ffa51f);
    background: -o-linear-gradient(top, #ffd322, #ffa51f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffd322', EndColorStr='#ffa51f');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffd322', EndColorStr='#ffa51f')";
}
.button-yellow:active {
    color: #fff;
    border: solid 1px #ad6800;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ffcc00));
    background: -moz-linear-gradient(top, #ff9900, #ffcc00);
    background: -ms-linear-gradient(top, #ff9900, #ffcc00);
    background: -o-linear-gradient(top, #ff9900, #ffcc00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900', EndColorStr='#ffcc00');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9900', EndColorStr='#ffcc00')";
}
.icon-download, .icon-check {
	margin-left:-5px;
	padding-left:37px;
	display:block;
	height:50px;
	background:transparent url(sprite.png) no-repeat;
}
.icon-go, .icon-more {
	margin-right:-5px;
	padding-right:40px;
	display:block;
	height:50px;
	background:transparent url(sprite.png) no-repeat;
}
.icon-download {background-position:0 -141px;}
.icon-check {background-position:0 -66px;}
.icon-more {background-position:right 10px;}
.icon-go {background-position:right -212px;}
.button-big {
	font-size: 22px;
	height: 60px;
	line-height: 60px;
}
.button-big .icon-download {background-position:0 -136px; height:60px;}
.button-big .icon-check {background-position:0 -61px; height:60px;}
.button-big .icon-more {background-position:right 15px; height:60px;}
.button-big .icon-go {background-position:right -207px; height:60px;}
.button-huge {
	font-size: 26px;
	height: 76px;
	line-height: 76px;
	padding: 0 26px;
}
.button-huge .icon-download {background-position:0 -128px; height:76px;}
.button-huge .icon-check {background-position:0 -53px; height:76px;}
.button-huge .icon-more {background-position:right 23px; height:76px;}
.button-huge .icon-go {background-position:right -199px; height:76px;}

.button-subhead {
    padding: 20px 30px;
	font-size: 26px;
    line-height: 26px;
}
.button-subhead i {
	color: #000;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 0 0 0;
	font-weight: normal;
	font-style: normal;
	display: block;
	line-height: 26px;
	font-size: 14px;
}


/* Site Logo */
h1#logo {
	font-size: 48px;
	font-weight: normal;
	margin-top: 0;
	color: #D84A38;
}

/* Site Logo SideNote */
p#side_note {
	margin-top: 20px;
}

/* Site Navigation */
ul#navigation {
	text-transform: uppercase;
}

ul#navigation li {
	float: right;
	display: inline;
	margin: 0 0 0 30px;
}

ul#navigation li a {
	font-family: arial, sans-serif !important;
	display: block;
	padding: 10px 0 0;
	text-decoration: none;
	color: #D84A38;
	font-size: 14px;
	font-weight: bold;
}

ul#navigation li a:hover,ul#navigation li a.current {
	background: url(../images/triangle.gif) no-repeat center top;
}

.meta {
	font-weight: normal;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial,
		san-serif;
	font-size: 11px;
	color: #999999 !important;
	line-height: 16px;
	text-transform: none;
	text-shadow: none;
}

/* Mini Site Navigation */
.mini_navigation {
	width: 100%;
	height: 30px;
	background-color: #212121;
}

.mini_navigation ul {
	font-size: 15px;
	list-style-type: none;
	height: 30px;
	float: left;
}

.mini_navigation ul li {
	display: inline-block;
	margin-left: 20px;
	line-height: 28px;
}

.mini_navigation ul li.active {
	border: none;
	border-top: solid 2px #DB4A38;
	background-color: #fff;
}

.mini_navigation ul li a {
	color: #DB4A38;
}

.mini_navigation ul li:hover {
	border: none;
	border-top: solid 2px #DB4A38;
	background-color: #fff;
}

/* Search Bar */
.search-bar {
	float: right;
	margin-right: 20px;
}

.search-bar input {
	padding: 4px;
	width: 100px;
	border: 1px solid #CCCCCC;
	margin-right: 10px;
	background: #fcfcfc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* mymd-body */
.mymd-body {
	width: 100%;
}

/* mymd-left */
div#mymd-home-streaming {
	float: left;
	width: 49%;
}

div.avatar {
	float: left;
}

div.avatar img {
	width: 80px;
	height: 80px;
}

div.personalinfo {
	float: left;
}

div.personalinfo ul {
	list-style: none;
}

/* Status Update, where to update status*/
div.status-update {
	margin-left: 20px;
	float: left;
}

div.status-update textarea {
	height: 66px;
	width: 250px;
	background: #fcfcfc;
	border: solid 1px #ccc;
}

div.status-update ul {
	list-style: none;
}

div.status-update ul li {
	display: inline;
}

div.status-update ul li.active {
	color: #DB4A38;
}

div.stream {
	margin-top: 10px;
}

.stream .post {
	width: 95%;
	border-bottom: solid 1px #ccc;
	padding-bottom: 1em;
	margin-left: 1em;
	padding-top: 1em;
}

div.stream .post .avatar {
	float: left;
}

div.stream .post .avatar img {
	width: 26px;
	height: 26px;
}

div.stream .post .post-metadata {
	float: left;
	margin-left: 20px;
	color: #666;
	font-size: 12px;
}

.stream .post .post-content {
	width: 100%;
	font-size: 13px;
}

/* Monitoring */
div#mymd-home-monitoring {
	float: right;
	width: 49%;
}

/* Footer */
div#mymd-footer {
	padding-top: 20px;
	text-align: center;
}


/* Register/Signup */
#signup {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#signup table th {
	vertical-align: middle;
	margin-top: 10px;
}

#signup table td {
	margin-top: 10px;
}

#signup label {
	width: 100px;
	text-align: right;
	margin-right: 10px;
	color: #DB4A38;
	font-size: 16px;
}

#signup input[name=username],
#signup input[name=email1],
#signup input[name=email2],
#signup input[name=password],
#signup textarea {
	float: left;
	padding: 8px;
	border: 1px solid #CCCCCC;
	margin-left: 10px;
	background: #fcfcfc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 16px;
}

#signup input[name=username],
#signup input[name=email1],
#signup input[name=email2],
#signup input[name=password] {
	width: 100%;
}

#signup input[name=submit],
#signup a.button {
	float: right;
}

/* patients counting */
.patients_counting {
	background-color: #DB4A38;
	height: 40px;
	text-align: center;
}

.patients_counting p {
	line-height: 40px;
}

.patients_counting span {
	margin-top: 10px;
	font-size: 20px;
}

.patients_counting .number {
	color: #FFF;
}

.patients_counting .text {
	color: #444;
}

/* Floating Images */
.floating-images {
	width: 100%;
	text-align: left;
	margin-left: 0;
	overflow: hidden;
}

.floating-images ul {
	padding-left: 50px;
	height: 48px;
	white-space: nowrap;
	border: 0;
	list-style: none;
}

.floating-images ul li {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0 -5px 0 0;
	width: 48px;
	height: 48px;
}

.floating-images ul li img {
	border: 0;
	padding: 0;
	margin: 0;
}

/* After Bootstrap */
.below-mini-nav {
  padding-top: 60px;
}



