{% extends "site_base.html" %}
{% load i18n %}
{% block body_class %}experience{% endblock %}
{% block body %}
<h1> Blogs </h1>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span7">
			{% if blogs_list %}
    			<ul>
      			{% for blog in blogs_list %}
         			<a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
         			<p>{{ blog.body }}</p>
      			{% endfor %}
    			</ul>
				{% include "blogs/_blog_paginate.html" %}
			{% else %}
				<p><% trans "No Blog Found!" %></p>
			{% endif %}
		</div>
		<div class="span2">
			<a href="{% url blog_create %}">{% trans "Create a Blog" %}</a>
		</div>
	</div>
</dviv>
{% endblock%}
