{% extends "site_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% block body_class %}experience{% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8">
			<h1> Experiences </h1>
			{% if experiences_list %}
    			<ul>
      			{% for experience in experiences_list %}
         			<a href="{{ experience.get_absolute_url }}">{{ experience.title }}</a>
         			<p>{{ experience.body }}</p>
      			{% endfor %}
    			</ul>
				{% include "experiences/_experience_paginate.html" %}
			{% else %}
				<p><% trans "No Experience Found!" %></p>
			{% endif %}
		</div>
		<div class="span2">
			<a href="{% url experience_create %}">{% trans "Create an Experience" %}</a>
			{% for friend in friends %}
				{% avatar friend %}
				<a href="{% url profile_detail friend.username %}">{{ friend.username }}</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock%}
