{% extends "site_base.html" %}
{% load i18n %}
{% load avatar_tags %}
{% block body_class %}meetup{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="{% url meetup:meetup_index %}">
                    {% trans "All Meetups" %}
                </a>
            </li>
            <li>
                <a href="{% url meetup:meetup_create %}">
                    {% trans "Create Meetup" %}
                </a>
            </li>
            <li>
                <a href="{% url meetup:meetup_mine %}">
                    {% trans "My Meetup" %}
                </a>
            </li>
        </ul>
    </div>
    <div class="span10">
        {% include "meetup/_meetup_list.html" %}
    </div>
</div>
{% endblock%}
