{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}
{% load account_tags %}

{% block head_title %}{% trans "Experience Sharing" %}{% endblock %}
{% block body_class %}experience{% endblock %}

{% block body %}
<div id="stream-container" class="row-fluid">
	<div id="stream-filters" class="span2">
		{% trans "stream-filter" %}
	</div>
	<div id="stream-activities" class="span8">
	</div>
	<div id="stream-ads" class="span2">
		{% trans "stream-ads" %}
	</div>
</div>

<script>
  (function () {
    var static_url = "{{ STATIC_URL }}";
    mymd.stream.initStream();
  })();
</script>
{% endblock %}