<div id="mymd-home-monitoring">
    <div>
        <input type="checkbox" checked>Blood Pressure</input>
        <input type="checkbox">Blood Glucose</input>
    </div>
    <br />
    <div id="chart"></div>
    <br />
    <div id="slider"></div>
    <br/>
    <div id="new-data">
        <label>Enter Today's Data</label><br/><br/>
        <input type='text' id='bp' placeholder="Blood Pressure"/>
        <select>
            <option>Before Lunch</option>
            <option>After Lunch</option>
            <option>Before Sleep</option>
        </select>
        <br/><br/>
        <input type='text' name='bg' placeholder="Blood Glucose"/><br/><br/>
        <input type='text' name='drugs' placeholder="Drugs"/><br/><br/>
        <input type='text' name='food' placeholder="Food"/>
    </div>
</div>