<div class="clear"></div>
<div class="stream">
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/0.jpg"
            ></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            status is management.
        </div>
    </div>
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/1.jpg"
            ></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            management.
        </div>
    </div>
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/2.jpg"
            ></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            management.
        </div>
    </div>
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/3.jpg"
            ></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            management.
        </div>
    </div>
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/4.jpg"></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            management.
        </div>
    </div>
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/5.jpg"></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            management.
        </div>
    </div>
    <div class="post">
        <div class="avatar">
            <img src="{{ STATIC_URL }}images/twitter/6.jpg"></img>
        </div>
        <div class="post-metadata">
        5 Hours ago * 3558 Like * Like * Comment * Share
        </div>
        <div class="clear"></div>
        <div class="post-content">
            This is my first post, not sure what to do with
            this, but looks like useful for my desease
            management.
        </div>
    </div>
</div>