<div id="wrapper" class="container_12 clearfix">
    <!-- Text Logo -->
 <h1 id="logo" class="grid_2">MyMD</h1>
 <p id="side_note" class="meta grid_2">First and last you will ever need</p>
 <!-- Navigation Menu -->
 <ul id="navigation" class="grid_8">
     <li><a href="#">
         <span class="meta">All about you</span><br />
         Profile
     </a></li>
     <li><a href="#">
         <span class="meta">Find your peer</span><br />
         Group
     </a></li>
     <li><a href="#">
         <span class="meta">Get in touch</span><br />
         Social
     </a></li>
     <li><a href="#">
         <span class="meta">Manage Your Desease</span><br/>
         Monitoring
     </a></li>
     <li><a href="#" class="current">
         <span class="meta">Homepage</span><br />
         Home
     </a></li>
 </ul>
 <div class="hr grid_12">&nbsp;</div>
 <div class="clear"></div>