<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- Text Logo -->
      <a class="brand" href="#">MyMD</a>
      <!-- Navigation Menu -->
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Monitoring</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#">Group</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
      <div class="pull-right"><a href="/logout" class="pull-right">Log off</a></div>
      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </div>
  </div>
</div>
