
<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.jqplot.min.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>

<!--Bootstrap-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>