{% extends "theme_base.html" %}
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block extra_style %}
  <link href="{% static "css/mymd.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/mymd.js" %}"></script>
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul class="nav">{% spaceless %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_dairy"><a href="/dairy/">{% trans "Personal Dairy" %}</a></li>
            <li id="tab_experience"><a href="/experience/">{% trans "Experience Sharing" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
