{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block page_style %}
  <link href="{% static "css/datepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block page_script %}
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block body %}
    <h1>{% trans "Sign Up" %}</h1>
    <div class="row">
        <div class="span8">
            {% if user.is_authenticated %}
                <p>{% trans "You are already logged in." %}</p>
            {% else %}
                <p>{% trans "Already have an account?" %} <a href="{% url account:acct_login %}">{% trans "Log in" %}</a>!</p>
                <form id="signup_form" method="post" action="{% url account:acct_signup %}" autocapitalize="off" class="form-horizontal">
                    <fieldset>
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function(){
            $("#id_username").focus();
            $(".datepicker").datepicker();
            var svalue = $("#id_city").val();
            mymd.district.renderDistrict(svalue);
            var dvalue = $("#id_district").val();
            mymd.district.renderCommunity(dvalue);
            $("#id_city").change(function(){mymd.district.renderDistrict($(this).val());});
            $("#id_district").change(function(){mymd.district.renderCommunity($(this).val());});
        });
    </script>
{% endblock %}
